.sidebar-containt li {
    font: 18px/36px raleway-bold, sans-serif;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: left;
    list-style: none outside;
}

.sidebar-containt fieldset {
  padding-inline-start: 40px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.sidebar-containt li a{
    font-weight: bold;
    color: #313131;
    text-decoration: none;
}

.sidebar-containt label {
    font-weight: bolder;
    margin: 12px 0;
    padding: 0px 0px 10px 10px;
    width: 41.66667%;
}

.sidebar-containt input {
  display: block;
  padding: 18px 15px;
  margin: 0 0 24px 0;
  border: 0;
  outline: none;
  vertical-align: middle;
  min-width: 260px;
  max-width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #647373;
  background: #D3D9D9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.sidebar-containt button {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  background: #8bdadc;
  border: none;
  cursor: pointer;
  height: auto;
  border-radius: 3px;
  padding: 10px;
}